<nav class="side-nav">
    <a href="#" class="nav-item"><i class="fa fa-book fa-fw fa-2x"></i> Susitikimų Valdymas</a>
    <a href="#" class="nav-item"><i class="fa fa-eye fa-fw fa-2x"></i> Mano Profilis</a>
    <a href="#" class="nav-item"><i class="fa fa-sign-in fa-fw fa-2x"></i> Atsijungti</a>
    <!-- IF NOT LOGGED IN
    <a href="#" class="nav-item"><i class="fa fa-sign-in fa-fw fa-2x"></i> Prisijungti</a> 
    -->
    <a href="#" class="nav-item"><i class="fa fa-users fa-fw fa-2x"></i> Draugai</a>
    <a href="#" class="nav-item"><i class="fa fa-question fa-fw fa-2x"></i> DUK</a>
    <a href="#" class="nav-item"><i class="fa fa-lightbulb-o fa-fw fa-2x"></i> Apie AV</a>
</nav>